.container {
    margin: 10px;
    width: calc(100% - 20px);

    .buttons {
        margin: 20px;
        display: flex;

        .last-month-button {
            margin-right: 10px;
        }
    }

    .totd-container {
        display: flex;
        width: 100%;
        overflow-wrap: break-word;
        flex-wrap: wrap;

        .totd {
            margin: 10px;
            min-width: 12%;
            max-width: 12%;
            display: block;
            position: relative;
            overflow-wrap: break-word;
            flex-wrap: wrap;

            &:hover {
                transform: scale(1.05);
                transition: all 0.2s ease-out;
                z-index: 5;
            }

            .map-thumbnail {
                width: 100%;
                border-radius: 50% 0 / 120%;
                transform: skew(-4deg);
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }

            .overlay {
                padding: 50%;
                border-radius: 50% 0 / 120%;
                transform: skew(-4deg);
                position: absolute;
                top: 0;
                left: 0;
                // linear gradient alpha 0 top to bottom black alpha 1
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
            }

            .map-name {
                text-decoration: none;
                width: calc(100% - 40px);
                overflow-wrap: break-word;
                flex-wrap: wrap;
                position: absolute;
                bottom: 8px;
                padding: 5px;
            }
        }
    }
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

// if size is under 1200px
@media screen and (max-width: 1200px) {
    .container {
        .totd-container {
            .totd {
                min-width: 16%;
                max-width: 16%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        .totd-container {
            .totd {
                min-width: 22%;
                max-width: 22%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .container {
        .totd-container {
            .totd {
                min-width: 30%;
                max-width: 30%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .totd-container {
            .totd {
                min-width: calc(45% - 20px);
            }
        }
    }
}
