<!-- Create a list with map name, user name, score, and a button to download the map!. -->
<div *ngIf="map" class="map-list-infos">
  <!-- A list with divider in material -->
  <mat-list>
    <div class="map-list-infos-item">
      <mat-list-item>
        <div class="map-list-infos-item-name">
          <lib-ng-colored-tm-text
              [text]="map!.name"
              [fontSize]="26"
              [dark_theme]="true"
            ></lib-ng-colored-tm-text>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <div class="map-list-infos-item-author">
          <div class="name">
            <h4>By: {{ " " }}</h4>
            <img
              class="flag"
              [src]="getFlagUrl(map!.authorplayer.zone)"
              alt=""
            />
            <div class="tag">
              <lib-ng-colored-tm-text
                [text]="map!.submitterplayer.tag"
                [fontSize]="17"
                [dark_theme]="true"
              ></lib-ng-colored-tm-text>
            </div>
            <h4 (click)="onMapperClick()" class="mapper-name" style="margin-left: 3px">{{ " " + map!.authorplayer.name }}</h4>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <div class="map-list-infos-item-score">
          <div class="at">
            <h4>Temps Auteur:{{ " " + returnTime(map!.authorScore) }}</h4>
            <img
              class="medal"
              src="https://trackmania.io/img/medal_author.png"
            />
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <div class="map-list-infos-item-download">
          <button mat-raised-button color="primary" (click)="downloadMap()">
            <mat-icon>file_download</mat-icon>
            <span>Download</span>
          </button>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</div>
<div *ngIf="!map" class="map-list-infos">
  <mat-list>
    <mat-list-item>
      <div class="map-list-infos-item-name">
        <h3>Aucune map selectionnée</h3>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
