.container {
    margin: 10px;
    width: calc(100% - 20px);

    .player-infos {
        background-color: rgb(69, 69, 69);
        border-radius: 10px;
        width: calc(100% - 60px);
        padding: 30px 30px;
        
        .player-name {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            width: 100%;
            
            .tag {
                display: flex;
                border-radius: 50% 0 / 120%;
                transform: skew(-8deg);
                background-color: rgb(42, 42, 42);
                padding: 0.2em;
                margin-bottom: auto;
            }
            .flag {
                height: 24px;
                margin-right: 10px;
                margin-top: 5px;
                margin-bottom: auto;
            }
        }

        .player-zone {
            font-size: 1.2rem;
        }

        .meta {
            display: flex;
            margin-top: 10px;

            .meta-info {
                display: flex;
                margin: 5px;

                .meta-link {
                    color: inherit;
                    text-decoration: none;
                    font-size: 1rem;
                    align-items: center;

                    .icon {
                        font-size: 1rem;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .youtube {
                background-color: rgb(255, 0, 0);
                border-radius: 30% 0 / 120%;
                transform: skew(-8deg);
                padding: 5px;
            }
        }
    }
}
