<!-- export interface IAccount {
    accountid: string;
    displayname: string;
    timestamp: string;
    clubtag: string;
    clubtagtimestamp: string;
    trophies: ITrophies;
    matchmaking: IMatchmaking[];
    meta: IMeta | undefined;
}

export interface ITrophies {
    points: number;
    timestamp: string;
    counts: number[];
    echelon: number;
    zone: IZone;
    zonepositions: number[];
}

export interface IMatchmaking {
    info: IMatchmakingInfo;
    total: number;
}

export interface IMatchmakingInfo {
    typename: string;
    typeid: number;
    accountid: string;
    rank: number;
    score: number;
    progression: number;
    division: IDivision;
    division_next: IDivision;
}

export interface IDivision {
    position: number;
    rule: string;
    minpoints: number;
    maxpoints: number;
    minwins: number;
    maxwins: number;
} -->

<div class="container">
  <div class="player-infos">
    <div class="player-name">
      <img *ngIf="account?.trophies" class="flag" [src]="getFlagUrl(account!.trophies!.zone)" alt="" />
      <div *ngIf="account?.clubtag" class="tag">
        <lib-ng-colored-tm-text
          [text]="account?.clubtag"
          [fontSize]="20"
          [dark_theme]="true"
        ></lib-ng-colored-tm-text>
      </div>
      <h1>{{ account?.displayname }}</h1>
    </div>
    <div class="player-zone">
      {{ getZoneName(account?.trophies!.zone) }}
    </div>
    <div class="meta">
        <div *ngIf="account.meta?.youtube" class="meta-info youtube">
            <a href="{{ 'https://youtube.com/' + account.meta?.youtube }}" target="_blank" class="meta-link">
                <i class="fa-solid fa-play"></i>
                <span>Youtube</span>
            </a>
        </div>
        <div *ngIf="account.meta?.twitch" class="meta-info">
            <a href="{{ account.meta?.twitch }}" target="_blank" class="meta-link">
                <mat-icon class="icon">ondemand_video</mat-icon>
                <span>Twitch</span>
            </a>
        </div>
        <div *ngIf="account.meta?.twitter" class="meta-info">
            <a href="{{ account.meta?.twitter }}" target="_blank" class="meta-link">
                <mat-icon class="icon">message</mat-icon>
                <span>Twitch</span>
            </a>
        </div>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
</div>
