.container {
    height: calc(100% - 64px - 20px);
    display: flex;
    margin: 10px;
    flex-direction: row;

    .map {
        width: 30%;
        .map-thumb {
            width: calc(100% - 80px);
            margin: 10px 40px 10px 40px;
            border-radius: 50% 0 / 120%;
            transform: skew(-8deg);
            background-color: rgb(62, 62, 62);
        }
        .map-infos {
            // height: auto;
            width: 100%;
        }

        .back-button {
            margin: 20px;
        }
    }
    .chrono {
        width: calc(70% - 40px);
        margin: 20px;
    }

    .spinner {
        // center the spinner
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .element {
            width: 100px;
            height: 100px;
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        .chrono {
            margin: 10px;
            width: calc(100% - 20px);
        }
        .map {
            width: calc(100% - 20px);
        }
    }
}
